<hr>
<div class="row">
<div class="col-md-10">
  <% user = comment.user %>
  <a class="pull-left" href="#">
    <% if user.profile %>
      <%= image_tag user.profile.avatar, class: "avatar" %>
    <% else %>
      <%= image_tag "#" %>
    <% end %>
  </a>
  <div class="comment-body">
    <div class="comment-heading">
      <h4 class="user"><%= user.name %></h4>
      <h5 class="time"><%= "#{time_ago_in_words(comment.created_at)} ago" %></h5>
    </div>
    <p><%= comment.content %></p>
  </div>
</div>
<div class="col-md-2">
  <h5 class="pull-right">
    <% if comment.user == current_user %>
      <%= link_to "#", data: {id: comment.id}, class: "edit_comment" do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
      <%= link_to comment_path(comment), method: :delete, data: {confirm: t("admin.confirm_delete")},
        class: "danger" do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    <% end %>
  </h5>
</div>
<ul class="comments-list">
  <div class="col-md-12">
    <div hidden id="comment_list">
      <%= render partial: "admin/comments/comment_list",
        collection: comment.comments, as: :comment %>
      <li>
        <% if current_user && current_user.user? %>
          <%= render "shared/reply_form", comment: comment %>
        <% end %>
      </li>
    </div>
    <div class="show_more">
      <%= link_to "reply", "#", class: "show_more_button" %>
    </div>
  </div>
</ul>
</div>