<div class="col-lg-3 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-user fa-5x"></i>
        </div>
          <div class="col-xs-9 text-right">
          <div class="huge"><%= User.all.length %></div>
          <div>Users!</div>
        </div>
      </div>
    </div>
    <%= link_to admin_users_path do %>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-lg-3 col-md-6">
  <div class="panel panel-green">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-globe fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= Post.all.length %></div>
          <div>Posts!</div>
        </div>
      </div>
    </div>
    <%= link_to admin_post_path(Post.last) do %>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-lg-3 col-md-6">
  <div class="panel panel-red">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-music fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge"><%= MusicalInstrument.all.size %></div>
          <div>Musical Instruments!</div>
        </div>
      </div>
    </div>
    <%= link_to admin_musical_instruments_path do %>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
