<% provide :title, @post.name %>
<h1><%= @post.name %></h1>
<div class="row post">
  <div class="col-md-4">
    <div><%= image_tag @post.image.url(:medium), class: "img-rounded" %></div>
    <br />
    <div class="col-md-6"><%= t "user.post.felling" %>: 
      <%= t "user.post.fellings.#{@post.felling}" %></div>
    <div class="col-md-6"><%= t "user.post.sound_quality" %>: 
      <%= t "user.post.sound_qualities.#{@post.sound_quality}" %></div>
    <br />
    <div class="container"><%= t "user.post.description" %>: <%= @post.description %></div>
    <div class="container"><%= t "user.post.accessories" %>: <%= @post.accessories %></div>
  </div>
  <div class="col-md-5">
    <%= @post.content.html_safe %>
  </div>
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="glyphicon glyphicon-align-justify"></i>
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><%= link_to t("admin.delete"), admin_post_path(@post),
          method: :delete, data: {confirm: t("admin.confirm_delete")} %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="pull-right">
      <%= t "user.create_by" %>: <%= @post.user.name %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="pull-left">
      <h2><%= t "user.comment" %></h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div>
      <%= render @comments %>
    </div>
    <br />
  </div>
</div>
