<% provide :title, @post.name %>
<div class="single">
  <div class="container">
    <div class="single-info">   
      <div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">

        <div class="row carousel-holder margin-top-50px">
          <% images = @post.musical_instrument.musical_instrument_images %>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% images.each_with_index do |image, index| %>
                <li data-target="#carousel-example-generic"
                  data-slide-to="<%= index %>" <%= "class=active" if index == 0 %>></li>
              <% end %>
            </ol>

            <div class="carousel-inner">
              <% images.each do |image| %>
                <div class="item <%= "active" if image == images.first %>">
                  <%= image_tag image.image, class: "slide-image" %>
                </div>
              <% end %>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s">
        <h3><%= @post.name %></h3>

        <p><%= "posted man rating: #{@post.musical_instrument_evaluate.evaluation} in 100 / " %>
          <a href="#">Add Your Review</a></p>
        <h6><%= t "admin.musical_instrument.price" %>: <%= @post.musical_instrument.price %>$</h6>

        <p><%= @post.description %></p>
        <%= @post.content.html_safe %>

        <div class="col-md-6"><%= t "user.post.felling" %>: 
          <%= link_to t("user.post.fellings.#{@post.felling}"), "#" %></div>
        <div class="col-md-6"><%= t "user.post.sound_quality" %>: 
          <%= link_to t("user.post.sound_qualities.#{@post.sound_quality}"), "#" %></div>
        <br />

        <br />
        <ul class="size">
          <h4>付属品</h4>
          <li><a href="#"><%= @post.accessories %></a></li>
          <li><a href="#"><%= @post.accessories %></a></li>
        </ul>

        <ul class="color">
          <h4>Color</h4>
          <li><a href="#"></a></li>
          <li><a href="#" class="red"></a></li>
          <li><a href="#" class="green"></a></li>
          <li><a href="#" class="pink"></a></li>
        </ul>
        <br>

        <br>
        <div class="col-md-12">
          post quality: <%= rating_for @post, "quality", disable_after_rate: false, enable_half: true %>
        </div>

        <div class="pull-right"><%= "create by: " %><%= link_to @post.user.name, "#" %></div>

    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-8 col-md-offset-2">
    <div class="panel panel-white post panel-shadow">
      <div class="post-footer">
        <div class="input-group form-comment">
          <% unless current_user.admin? %>
            <%= render "shared/comment_form" %>
          <% end %>
        </div>

        <ul class="comments-list">
          <li class="comment">
            <%= render @comments %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
