<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to t("layouts.musical_instrument_review"),
        admin_users_path, id: "logo" %>
    <% else %>
      <%= link_to t("layouts.musical_instrument_review"),
        root_path, id: "logo" %>
    <% end %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-lg-9 search_form">
            <%= render "layouts/search_form" %>
          </div>
          <div class="col-lg-3 select_form">
            <%= select_tag "musical_instrument", options_from_collection_for_select(
              @header_musical_instruments, :id, :name), class: "form-control",
              id: "musical_instrument" %>
          </div>
        </div>
      </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to t("layouts.user_home"), root_path %></li>
        <% else %>
          <li><%= link_to t("layouts.home"), root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to t("user.posts"), posts_path %></li>
            <li><%= link_to t("layouts.profile"), edit_user_registration_path %></li>
            <li><%= link_to t("layouts.logout"), destroy_user_session_path,
              method: :delete %></li>
          <% else %>
            <li><%= link_to t("layouts.login"), new_user_session_path %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
