<h1><%= t "devise.edit" %></h1>
<br><br><br>
<%= form_for resource, as: resource_name,
  url: registration_path(resource_name), html: {method: :put} do |f| %>
  <%= render "shared/error_messages", object: resource %>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">

      <div class="field form-group">
        <%= f.label :name, t("devise.name") %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :email, t("devise.email") %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password, t("devise.password") %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t "devise.min_character" %>)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation,
          t("devise.password_confirmation") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password, t("devise.current_password") %>
          <i>(<%= t "devise.need_password" %>)</i><br />
        <%= f.password_field :current_password,
          autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-2">
      <%= f.fields_for :profile do |ff| %>
        <div class="field form-group">
          <%= ff.label :address, t("devise.address") %>
          <%= ff.text_field :address, class: "form-control" %>
        </div>
        
        <div class="field form-group">
          <%= ff.label :old, t("devise.old") %>
          <%= ff.number_field :old, class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= ff.label :contact, t("devise.contact") %>
          <%= ff.text_field :contact, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= ff.label :gender, t("devise.gender") %>
          <%= ff.select :gender, User.genders.map {|k, v| [k, k]},
            {include_blank: true}, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= ff.label :avatar, "アバター" %>
          <%= ff.file_field :avatar %>
        </div>
      <% end %>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="actions form-group text-inline center">
      <%= f.submit t("devise.update"), class: "btn btn-primary" %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    <%= link_to t("devise.back"), :back %>
  </div>
</div>
